/build/
/.ipython/
/.kernel/
target
*.rs.bk
*.iml
.idea
__pycache__
*.pyc
.vscode
test_results/*
tags
*.core
*.profraw
.DS_Store
*.bin
/resources/linux
/resources/x86_64
/resources/aarch64

noble-server-cloudimg-amd64-root.tar.xz
bionic.rootfs.ext4
ubuntu-noble-base.rootfs.ext4